body{
    background-color: silver;
    color: black;
}

*{
    font-family: Verdana;
}

h1{
    color: purple;
    text-align: center;
}

fieldset{
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}
input, section, textarea{
    border-radius: 4px;
    padding: 5px;
    margin:5px;
}

.name, .address, .number, .city, .txt_area{
    width: 95%;
}

label{
    font-weight: bold;
}

button{
    text-align: center;
    margin:auto;    
}
.send{
    color: white;
    background-color: #00ff40;
}
.clear{
    color:white;
    background-color: #FF0030;
}